<!DOCTYPE html>
<html>
<head>
    <title>Tablero de Ajedrez</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="tablero">
        {% for fila in range(filas) %}
            <div class="fila">
                {% for columna in range(columnas) %}
                    <div class="{% if (fila + columna) % 2 == 0 %}casilla-blanca{% else %}casilla-negra{% endif %}"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
